dash==2.9.1
dash_bootstrap_components==1.4.1
dash_bootstrap_templates==1.0.8
dash_leaflet==0.1.23
Flask==2.2.2
folium==0.14.0
geopandas==0.12.2
matplotlib==3.7.0
pandas==1.5.3
Pillow==9.5.0

pmdarima==2.0.3
statsmodels==0.13.5
gunicorn
dash-tools
