dash==2.9.1
dash-bootstrap-components==1.4.1
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-leaflet==0.1.23
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
folium==0.14.0
geopandas==0.12.2
numpy==1.21.6
pandas==1.5.3
Pillow==9.4.0
plotly==5.14.1
plotly-geo==1.0.0
pmdarima==2.0.3
SCALECAST==0.18.4
scipy==1.10.0
shapely==2.0.1
tbats==1.1.3
